@(c : Cancion)
<div class="card red darken-3 z-depth-2">
    <div class="card-content">
        <a class="btn-floating btn-large waves-effect waves-light red right" title="Eliminar canci&oacute;n" href="@routes.CancionController.delete(c.getId)"><i class="material-icons">clear</i></a>
        <span class="card-title">@c.getNombre()</span>
        <audio id="audio" class="audio-player" src="@c.getRutaArchivo" controls>
                            Tu navegador no permite reproducir audio.
        </audio>
    </div>
    <div class="card-action">
        <p>@if(c.getArtista() != null){
            @c.getArtista().getNombre() <a class="right" href="@routes.ArtistaController.show(c.getArtista.getId)">M&aacute;s canciones de este artista</a>
        }else{
            An&oacute;nimo
        }</p>
    </div>
</div>
